@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

@font-face {
    font-family: 'norwesterregular';
    src: url('../fonts/norwester-font/norwester-webfont.woff2') format('woff2'),
         url('../fonts/norwester-font/norwester-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronregular';
    src: url('../fonts/aileron-fontfacekit/web-fonts/aileron_regular_macroman/Aileron-Regular-webfont.eot');
    src: url('../fonts/aileron-fontfacekit/web-fonts/aileron_regular_macroman/Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-fontfacekit/web-fonts/aileron_regular_macroman/Aileron-Regular-webfont.woff') format('woff'),
         url('../fonts/aileron-fontfacekit/web-fonts/aileron_regular_macroman/Aileron-Regular-webfont.ttf') format('truetype'),
         url('../fonts/aileron-fontfacekit/web-fonts/aileron_regular_macroman/Aileron-Regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #212121;
}

* {
  font-family: 'aileronregular';
  font-weight: 400;
  color: #ffffff;
  line-height: 1.5;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none; }

/* OTHER */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 13px;
  font-weight: 300;
  line-height: 25px;
}

/* TYPOGRAPHY */

.title {
  font-family: 'norwesterregular';
}

.text-white {
  color: #ffffff;
}

.italic {
  font-style: italic;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* GRID */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

.navbar {
    border-radius: .25rem;
}

.navbar {
    position: relative;
    padding: .5rem 1rem;
}

.navigation {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 50px;
  margin: 0;
  border: 0; }
  .navigation .navbar-brand {
    display: inline-block; }

.logo {
  display: inline-block; }
  .logo h1 {
    font-family: 'norwesterregular';
    color: #fff;
    font-size: 25px;
    margin-top: 5px;
    line-height: 1; }

.menu {
  margin-top: 15px; }
  .menu li {
    display: inline-block;
    margin: 0 15px; }
    .menu li a {
      color: #fff;
      font-size: 14px;
      font-weight: bold; }
      .menu li a:hover, .menu li a:focus {
        background: none;
        color: #e6443d; }
